@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 120px; */
}

:root {
    --main-color: #361717;
    --secondary-color: #1e9109;
    --support-color: #2f3acc;
    --white-color: #ffffff;
    --blacc-color: #000000;
}

body {
    padding: 36px;
}

.main-container {
    background-color: rgb(152, 158, 185);
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
}

.panel-container {
    background-color: rgb(230, 118, 196);
    flex: 1;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.panel {
    background-color: rgb(37, 68, 37);
    padding: 24px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container .option {
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    margin: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 150ms ease-in-out;
}

.options-container .option:hover,
.options-container .option.active {
    background-color: #fff;
    border: var(--main-color) solid 2px;
    color: var(--main-color);
}

.mission {
    color: var(--main-color);
    width: 80%;
    height: 48px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.sub-container {
    background-color: rgb(145, 255, 145);
    padding: 24px;
    color: #1e9109;
}
